body {color: black; bacground-color: white; font-family: Arial, Helvetica, sans-serif;}
a {text-decoration: none}
a:link {color: #0066cc}
a:visited {color: #999999}
a:hover {color: #FF0000}

h1 {color: red; font-size: 40pt;}
h2 {color: red}
h3 {color: red}
h4 {color: red}
h5 {color: red; font-size: 10pt}

.menu {text-align: center; vertical-align: top; padding: 20px 5px;}
.menu div {margin: 15px auto;}
.menu a {text-decoration: none; color: #fff;}
.menu a:hover { color: #FFDF0E;}